DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
KAFKA_BROKERS=kafka:9092
GITHUB_BASE_URL=https://api.github.com
GITHUB_TOKEN=
LOG_LEVEL=info
LOG_FILE=
LOG_SIDECAR_ENABLED=true
LOG_SIDECAR_URL=http://vector:8686
