DB_HOST=postgres-api
DB_NAME=subber_api
PORT=8080
API_KEY=
BASE_URL=http://localhost:8080
NOTIFICATION_SERVICE_URL=http://notification-service:8083
NOTIFICATION_TRANSPORT=kafka
NOTIFICATION_GRPC_ADDR=notification-service:9093
